@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-Light.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('../fonts/SofiaSans-Black.ttf') format('truetype');
    font-weight: 900;
}
