.hero {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.hero__inner {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(131, 58, 251, .15);
    max-width: 340px;
    border: 1px solid rgba(131, 58, 251, .3);
    margin: 0 auto;
    padding: 10px 32px;
    margin-bottom: 32px;
    border-radius: 24px;
    position: relative;
}
.hero__inner-left {
    display: flex;
    text-align: center;
    align-items: center;
    color: #833afb;
    font-size: 14px;
    font-weight: 700;
}
.hero__inner-right {
    background-color: #833afb;
    border-radius: 24px;
    padding: 10px;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 14px;
    font-family: "SofiaSans",sans-serif;
    font-weight: 700;
    width: 93px;
}
.hero__title {
    color: #000;
    font-size: 82px;
    text-align: center;
    font-family: "SofiaSans",sans-serif;
    font-weight: 700;
    line-height: 90px;

}
.hero__subtitle {
    color: #000;
    font-size: 24px;
    font-family: "Sofia Sans",sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 60px;
    line-height: 29px;
    span {
        color: #833afb;
        font-weight: 800;
    }
}
.hero-btn {
    color: #fff;
    font-size: 24px;
    font-family: "Sofia Sans",sans-serif;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 16px;
}
.btn {
}
.hero__descr {
    color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Sofia Sans",sans-serif;
  font-weight: 300;
  line-height: 19px;
}
